.container{
  background-color: var(--app-background);
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* ===================== Header ================ */
.header{
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1{
  font-size: 2rem;
  color: rgb(252, 249, 249);
}

.header button{
  margin-left: 1rem;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.header button:hover{
  color: cyan;
  border-color: cyan;
  transform: scale(1.1);
}

@media screen and (min-width: 768px){
  .header h1{
      font-size: 3rem;
  }
  
  .header button{  
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      
  }
}